<!DOCTYPE html>
<html>
<head>
  <title>TheNerdeteria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="metro">
<div class="container">
  <nav class="navigation-bar">
    <div class="navigation-bar-content">
      <a href="/" class="element"><span class="icon-grid-view"></span> Nerdery University<sup>Q2</sup></a>
      <span class="element-divider"></span>

      <a class="pull-menu" href="#"></a>

      <div class="no-tablet-portrait">
        <span class="element-divider"></span>
        <div class="element place-right">
          <a href="/info">
            <span class="icon-cog fg-white"></span>
          </a>
        </div>
        <span class="element-divider place-right"></span>
        <button class="element image-button image-left place-right">
          <a href="http://nerdery.com/Vd" target="_blank">
            Damion M Broadaway
            <img src="http://nerdery.com/system/nerds/normal/vd.png?1357836219">
          </a>
        </button>
      </div>
    </div>
  </nav>
  <div class="grid">
    <div class="row">
      <div class="span3">
        <nav class="sidebar light">
          <ul>
            <li class="title"><i class="icon-plus-2"></i>&nbsp;&nbsp;New</li>
            <li class=""><%= link_to 'Menu Items', {:controller => 'menu_items', :action=> 'new'} %></li>
            <li class=""><%= link_to 'Menu Item Categories', {:controller => 'menu_item_catergories', :action=> 'new'} %></li>
            <li class=""><%= link_to 'Restaurants', {:controller => 'restaurants', :action=> 'new'} %></li>

            <li class="title"><i class="icon-glasses-2"></i>&nbsp;&nbsp;View</li>
            <li class=""><%= link_to 'Menu Items', {:controller => 'menu_items', :action=> 'index'} %></li>
            <li class=""><%= link_to 'Menu Item Categories', {:controller => 'menu_item_catergories', :action=> 'index'} %></li>
            <li class=""><%= link_to 'Restaurants', {:controller => 'restaurants', :action=> 'index'} %></li>

          </ul>
        </nav>
      </div>
      <div class="span9"><%= yield %></div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>