<h1>Listing menu_item_catergories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_item_catergories.each do |menu_item_catergory| %>
      <tr>
        <td><%= menu_item_catergory.name %></td>
        <td><%= link_to 'Show', menu_item_catergory %></td>
        <td><%= link_to 'Edit', edit_menu_item_catergory_path(menu_item_catergory) %></td>
        <td><%= link_to 'Destroy', menu_item_catergory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu item catergory', new_menu_item_catergory_path %>
